@model ProductListViewModel

<h1>@Model.Title</h1>
@foreach(JsonProduct product in Model.Products)
{
    string color = "dark";
    if (!product.APIStatus)
    {
        color = "red";
    }

    <div class="flex-start">
        <img class="rect-256" src="data:@product.Image.Mime;base64,@product.Image.Data" />
        <div>
            <a asp-action="product" asp-route-id="@product.Id">@product.Name</a>
            <p>@product.PriceCLP.CLPFormat()</p>
            <p class="t-@color">@product.PriceUSD.USDFormat()</p>
        </div>
    </div>
}